body
{
    background-color: rgb(116, 208, 241);
    height: 100vh;
}

h1 {
    font-family:  "Arial Black", Arial, Verdana, sans-serif, Impact;
}

button {
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1.5em;
    color: #FFFFFF;
    background-color: rgb(116, 208, 241);
    border-radius: 24px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 24px;
    border: 4px solid #FFFFFF;
    box-shadow: 3px 3px 12px #444444;
    -webkit-box-shadow: 3px 3px 12px #444444;
    -moz-box-shadow: 3px 3px 12px #444444;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 1em;
    }
    
    
button:hover {
    padding: 10px;
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px #777777;
    -webkit-box-shadow: 1px 1px 4px #777777;
    -moz-box-shadow: 1px 1px 4px #777777;
    padding-right: 1em;
    padding-left: 1em;
    }

#logo
{
    padding: 4%;
    width: 400px;

}

.row {
    display: flex;
    margin-top: 15%;
    vertical-align: middle;
    
  }

.col {
    flex: 1; 
    margin: auto;
    text-align: center;
  }


@media screen and (max-width: 1000px) {
    .container {
      margin: 1em 2em;
    }

    .row {
        display: inline;
        margin-top: 15%;
        
        
      }
    
    .col {
        flex: 1; 
        margin: auto;
        text-align: center;
      }
}
